<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>spaday-blueprint</title>
    <meta name="description" content="Blueprint for spaday" />
    <meta name="author" content="1kbgz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/blueprint.css" />
    <script type="importmap">
{
  "imports": {
    "@blueprintui/components/internals": "./vendor/@blueprintui/components/dist/internals/index.js",
    "@blueprintui/components/accordion": "./vendor/@blueprintui/components/dist/accordion/index.js",
    "@blueprintui/components/alert": "./vendor/@blueprintui/components/dist/alert/index.js",
    "@blueprintui/components/avatar": "./vendor/@blueprintui/components/dist/avatar/index.js",
    "@blueprintui/components/badge": "./vendor/@blueprintui/components/dist/badge/index.js",
    "@blueprintui/components/breadcrumb": "./vendor/@blueprintui/components/dist/breadcrumb/index.js",
    "@blueprintui/components/button": "./vendor/@blueprintui/components/dist/button/index.js",
    "@blueprintui/components/button-copy": "./vendor/@blueprintui/components/dist/button-copy/index.js",
    "@blueprintui/components/button-expand": "./vendor/@blueprintui/components/dist/button-expand/index.js",
    "@blueprintui/components/button-group": "./vendor/@blueprintui/components/dist/button-group/index.js",
    "@blueprintui/components/button-handle": "./vendor/@blueprintui/components/dist/button-handle/index.js",
    "@blueprintui/components/button-icon": "./vendor/@blueprintui/components/dist/button-icon/index.js",
    "@blueprintui/components/button-resize": "./vendor/@blueprintui/components/dist/button-resize/index.js",
    "@blueprintui/components/button-sort": "./vendor/@blueprintui/components/dist/button-sort/index.js",
    "@blueprintui/components/card": "./vendor/@blueprintui/components/dist/card/index.js",
    "@blueprintui/components/chat": "./vendor/@blueprintui/components/dist/chat/index.js",
    "@blueprintui/components/checkbox": "./vendor/@blueprintui/components/dist/checkbox/index.js",
    "@blueprintui/components/color": "./vendor/@blueprintui/components/dist/color/index.js",
    "@blueprintui/components/date": "./vendor/@blueprintui/components/dist/date/index.js",
    "@blueprintui/components/dialog": "./vendor/@blueprintui/components/dist/dialog/index.js",
    "@blueprintui/components/divider": "./vendor/@blueprintui/components/dist/divider/index.js",
    "@blueprintui/components/drawer": "./vendor/@blueprintui/components/dist/drawer/index.js",
    "@blueprintui/components/dropdown": "./vendor/@blueprintui/components/dist/dropdown/index.js",
    "@blueprintui/components/file": "./vendor/@blueprintui/components/dist/file/index.js",
    "@blueprintui/components/format-bytes": "./vendor/@blueprintui/components/dist/format-bytes/index.js",
    "@blueprintui/components/format-datetime": "./vendor/@blueprintui/components/dist/format-datetime/index.js",
    "@blueprintui/components/format-number": "./vendor/@blueprintui/components/dist/format-number/index.js",
    "@blueprintui/components/format-relative-time": "./vendor/@blueprintui/components/dist/format-relative-time/index.js",
    "@blueprintui/components/format-token": "./vendor/@blueprintui/components/dist/format-token/index.js",
    "@blueprintui/components/forms": "./vendor/@blueprintui/components/dist/forms/index.js",
    "@blueprintui/components/header": "./vendor/@blueprintui/components/dist/header/index.js",
    "@blueprintui/components/i18n": "./vendor/@blueprintui/components/dist/i18n/index.js",
    "@blueprintui/components/input": "./vendor/@blueprintui/components/dist/input/index.js",
    "@blueprintui/components/internals/types": "./vendor/@blueprintui/components/dist/internals/types/index.js",
    "@blueprintui/components/menu": "./vendor/@blueprintui/components/dist/menu/index.js",
    "@blueprintui/components/month": "./vendor/@blueprintui/components/dist/month/index.js",
    "@blueprintui/components/nav": "./vendor/@blueprintui/components/dist/nav/index.js",
    "@blueprintui/components/number": "./vendor/@blueprintui/components/dist/number/index.js",
    "@blueprintui/components/number-stepper": "./vendor/@blueprintui/components/dist/number-stepper/index.js",
    "@blueprintui/components/page": "./vendor/@blueprintui/components/dist/page/index.js",
    "@blueprintui/components/pagination": "./vendor/@blueprintui/components/dist/pagination/index.js",
    "@blueprintui/components/panel": "./vendor/@blueprintui/components/dist/panel/index.js",
    "@blueprintui/components/password": "./vendor/@blueprintui/components/dist/password/index.js",
    "@blueprintui/components/pin": "./vendor/@blueprintui/components/dist/pin/index.js",
    "@blueprintui/components/progress-bar": "./vendor/@blueprintui/components/dist/progress-bar/index.js",
    "@blueprintui/components/progress-circle": "./vendor/@blueprintui/components/dist/progress-circle/index.js",
    "@blueprintui/components/progress-dot": "./vendor/@blueprintui/components/dist/progress-dot/index.js",
    "@blueprintui/components/radio": "./vendor/@blueprintui/components/dist/radio/index.js",
    "@blueprintui/components/range": "./vendor/@blueprintui/components/dist/range/index.js",
    "@blueprintui/components/rating": "./vendor/@blueprintui/components/dist/rating/index.js",
    "@blueprintui/components/search": "./vendor/@blueprintui/components/dist/search/index.js",
    "@blueprintui/components/select": "./vendor/@blueprintui/components/dist/select/index.js",
    "@blueprintui/components/skeleton": "./vendor/@blueprintui/components/dist/skeleton/index.js",
    "@blueprintui/components/stepper": "./vendor/@blueprintui/components/dist/stepper/index.js",
    "@blueprintui/components/switch": "./vendor/@blueprintui/components/dist/switch/index.js",
    "@blueprintui/components/tabs": "./vendor/@blueprintui/components/dist/tabs/index.js",
    "@blueprintui/components/tag": "./vendor/@blueprintui/components/dist/tag/index.js",
    "@blueprintui/components/telephone": "./vendor/@blueprintui/components/dist/telephone/index.js",
    "@blueprintui/components/textarea": "./vendor/@blueprintui/components/dist/textarea/index.js",
    "@blueprintui/components/time": "./vendor/@blueprintui/components/dist/time/index.js",
    "@blueprintui/components/toast": "./vendor/@blueprintui/components/dist/toast/index.js",
    "@blueprintui/components/toggletip": "./vendor/@blueprintui/components/dist/toggletip/index.js",
    "@blueprintui/components/tooltip": "./vendor/@blueprintui/components/dist/tooltip/index.js",
    "@blueprintui/components/tree": "./vendor/@blueprintui/components/dist/tree/index.js",
    "@blueprintui/components": "./vendor/@blueprintui/components/dist/index.js",
    "@blueprintui/components/include/": "./vendor/@blueprintui/components/dist/include/",
    "@blueprintui/icons/include": "./vendor/@blueprintui/icons/dist/include.js",
    "@blueprintui/icons/include.js": "./vendor/@blueprintui/icons/dist/include.js",
    "@blueprintui/icons/internals": "./vendor/@blueprintui/icons/dist/internals/index.js",
    "@blueprintui/icons/internals/index.js": "./vendor/@blueprintui/icons/dist/internals/index.js",
    "@blueprintui/icons": "./vendor/@blueprintui/icons/dist/index.js",
    "@blueprintui/icons/icon": "./vendor/@blueprintui/icons/dist/icon/index.js",
    "@blueprintui/icons/shapes": "./vendor/@blueprintui/icons/dist/shapes/index.js",
    "@blueprintui/icons/shapes/": "./vendor/@blueprintui/icons/dist/shapes/"
  }
}
    </script>
    <script type="module" src="cdn/index.js"></script>
  </head>
  <body></body>
</html>
